<div class="container content">
    <div class="content__top">
        <app-breadcrumb [page]="page" class="breadcrumb"></app-breadcrumb>

        <h2 class="title">
            <i class="fa fa-globe"></i>
            Painel de Gestão
        </h2>
    </div>
    <div class="content__bottom">
        <div class="card atalhos">
            <h3>Atalhos</h3>
            <div class="card__box">
                <p>Operacional</p>
                <div class="card__box--grid">
                    <span>Envio</span>
                    <span>Envio de Duplicatas</span>
                    <span>Nova Operação</span>
                </div>
                <div class="card__box--grid">
                    <span>Assinatura</span>
                    <span>Assinatura Digital</span>
                </div>
            </div>
            <div class="card__box">
                <p>Geral</p>
                <div class="card__box--grid">
                    <span>Cardeira</span>
                    <span>Instruções</span>
                </div>
            </div>
        </div>
        <div class="card alerta">
            <h3>Alerta</h3>
        </div>
    </div>
</div>
