$bg-body: #f5f5f5;
$color-padrao: #333;
$color-title: #16254c;
$color-sub-title: #2095d4;
$color-white: #fff;
$bg-white: #fff;
$bg-menu: #0e1532;
$bg-content: #f5f5f5;
$bg-red: red;
$border-header: #ccc;
$border-menu: #2095d4;
$border-list-cart: #2095d4;
$border-content-h3: #ccc;

$select-padding: 10px;
$select-size: 60%;
$arrow: '»';

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $color-padrao;
  outline: none;
}

body {
  background-color: $bg-body;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background: $bg-white;
  overflow: hidden;
  min-height: 60px;
  display: block;

  .search {
    float: left;
    width: 20%;
    position: relative;

    input[type="text"] {
      height: 40px;
      width: 83%;
      font-size: 12px;
      border: 0;
      text-align: right;
      overflow: hidden;
      padding-top: 18px;
    }

    i {
      position: absolute;
      right: 20px;
      top: 28px;

      svg {        
        width: 15px;
        height: 15px;
      }
    }
  }

  .content {
    background-color: $bg-white;
    border-left: 1px solid $border-header;
    float: left;
    width: 77%;

    .right {
      float: right;
    }

    .logo__marca {
      float: left;

      h1 {
        position: relative;
        top: 0px;
        height: 45px;
        overflow: hidden;

        svg {
          width: 200px;
          height: 90px;
          position: relative;
          top: -11px;
        }
      }
    }
  }

  .grupo__economico {
    width: 300px;
    float: left;
    margin-right: 10px;

    .select_list {
      p {
        float: left;
        margin-right: 20px;
        position: relative;
        top: 14px;
        font-size: 12px;
      }

      select {
        float: left;
        width: 170px;
        font-size: 12px;
        height: 43px;
      }

      &::after{
        right: 21px;
        top: 5px;
      }
    }
  }

  .grupo__acesso {
    float: left;

    .select_list {
      background-color: $bg-menu;
      float: left;
      height: 42px;
      line-height: 42px;
      width: 160px;

      p {
        line-height: 43px;

        span {
          color: $color-white;
          margin-left: 10px;
          font-size: 12px;
        }
      }

      i {
        display: inline-block;
        margin-left: 12px;

        img {
          width: 13px;
          position: relative;
          top: 1px;
        }
      }
    }

    .cart {
      background-color: $border-list-cart;
      float: left;
      width: 40px;
      height: 42px;
      text-align: center;

      .cart__qtd {
        position: relative;

        span {
          font-size: 11px;
          color: $color-white;
          position: relative;
          line-height: 15px;
          z-index: 2;
          background-color: $bg-red;
          display: block;
          border-radius: 50px;
          width: 15px;
          height: 15px;
          left: 15px;
          top: 6px;
        }

        i {
          position: absolute;
          top: 13px;
          left: -8px;
          z-index: 0;

          img {
            width: 16px;
          }
        }
      }
    }
  }
}

.breakpoint {
  margin: 0px auto;
  min-width: 930px;
  max-width: 1306px;
}

.container {
  float: left;
  min-height: 500px;
}

.navbar {
  background-color: $bg-menu;
  width: 20%;
  overflow: hidden;

  nav {
    ul {
      > li {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $border-menu;
        line-height: 20px;

        > a {
          display: flex;
          padding: 0 15px;
          position: relative;

          span {
            color: $color-white;
            line-height: 32px;
          }

          svg {
            width: 30px;
            height: 30px;
            position: relative;
            left: 10px;
            margin-right: 30px;
          }

          :hover:after {
            content: '»';
            color: #2095d4;
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 20px;
            z-index: 0;
          }

          &.active-link {
            span {

              &::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 12px 7px 0;
                border-color: transparent #f5f5f5 transparent transparent;
                position: absolute;
                right: 0px;
                top: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.content {
  background-color: $bg-content;
  width: 78%;
  padding: 1%;

  .content__top {
    margin-bottom: 20px;

    .breadcrumb {
      width: 100%;
      display: block;

      > ul {
        > li {
          display: inline-block;
          padding: 0 10px 0 0px;
          font-size: 12px;
          position: relative;

          span {
            position: relative;
            left: 5px;
          }

        }
      }
    }

    h2 {
      &.title {
        color: $color-title;
        font-weight: 100;
        font-size: 34px;
        margin: 20px 0 35px 0;

        svg {
          width: 35px;
          height: 35px;
          position: relative;
          top: 5px;
          margin-right: 10px;
        }

        .select_list {
          float: right;
          width: 250px;

          p {
            float: left;
            position: relative;
            top: 12px;
          }

          select {
            float: right;
            margin-right: 20px;
          }

          &::after{
            top: 4px;
            right: 25px;
          }
        }
      }
    }
  }

  .content__bottom {
    .card {
      -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.31);
      -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.31);
      box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.31);
      float: left;
      width: 50%;
      background-color: $bg-white;
      min-height: 320px;

      h3 {
        color: $color-sub-title;
        font-weight: 100;
        line-height: 70px;
        height: 70px;
        font-size: 20px;
        padding-left: 20px;
        border-bottom: 1px solid $border-content-h3;
      }

      &.atalhos {
        width: 60%;
        min-width: 550px;
        margin-right: 3%;
      }

      &.alerta {
        width: 35%;

        .alerta__title {
          position: relative;

          p {
            position: absolute;
            right: 16px;
            top: 25px;
            font-size: 12px;
          }
        }

        .card__box {
          &.geral {
            width: 100%;
            padding: 0;

            .notas {
              border-bottom: 1px solid $border-header;
              margin: 0 20px;
              padding: 10px 0;
              overflow: hidden;

              &.no__border {
                border: 0px;
              }

              p {
                margin: 0px;
                line-height: 30px;
                float: left;
              }

              select {
                width: 130px;
                float: right;
                padding: 5px;
                font-size: 12px;
              }
            }
          }
        }
      }

      .card__box {
        padding: 20px 0px 20px 20px;
        width: 60%;
        float: left;

        &.geral {
          width: 30%;
          padding: 20px 0px 10px 34px;
          border-left: 1px solid $border-header;
        }

        p {
          font-size: 12px;
          margin-bottom: 10px;
        }

        .card__box--grid {
          float: left;
          width: 46%;

          span {
            border: 1px solid $border-list-cart;
            padding: 10px;
            max-width: 130px;
            min-width: 130px;
            display: inline-block;
            text-align: center;
            margin: 0 10px 10px 0px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.select_list {
  position: relative;

  &::after {
    content: '»';
    color: #2095d4;
    position: absolute;
    top: 1px;
    right: 6px;
    transform: rotate(90deg);
    font-size: 20px;
    z-index: 0;
  }

  select {
    background-color: transparent;
    border: 1px solid $border-menu;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: $select-padding;
    width: $select-size;
    position: relative;
    z-index: 3;
  }
}
